<% content_for :tabs do %>
  <button
    class="tab <%= selected? ? 'tab-selected' : '' %>"
    data-action="tabs#select"
    data-index="<%= index %>"
    data-tabs-target="tab"
    type="button"
  >
    <%= label %>
    <div class="tab_bottom"></div>
  </button>
<% end %>

<div
  data-component="tab"
  data-index="<%= index %>"
  data-tabs-target="tabContent"
  <%= 'hidden' unless selected? %>
>
  <%= content %>
</div>
