<h3>Basic</h3>

<%= vc 'alert' do %>
  This is a test of the emergency alert system.
<% end %>

<h3>Not Dismissable</h3>

<%= vc 'alert', dismissable: false do %>
  This is a test of the emergency alert system.
<% end %>

<h3>Error</h3>

<%= vc 'alert', type: 'error' do %>
  This is a test of the emergency alert system.
<% end %>

<h3>Success</h3>

<%= vc 'alert', type: 'success' do %>
  This is a test of the emergency alert system.
<% end %>

<h3>Warning</h3>

<%= vc 'alert', type: 'warning' do %>
  This is a test of the emergency alert system.
<% end %>
