<%= component 'sidebar', title: 'Components' do %>
  <div class="column">
    <%= link_to 'Alert', styleguide_path('alert'), data: { turbo_frame: 'content' } %>
    <%= link_to 'Column', styleguide_path('column'), data: { turbo_frame: 'content' } %>
    <%= link_to 'Notification', styleguide_path('notification'), data: { turbo_frame: 'content' } %>
    <%= link_to 'Row', styleguide_path('row'), data: { turbo_frame: 'content' } %>
  </div>
<% end %>
