<h3>Basic</h3>

<%= component 'card' do %>
  Card content
<% end %>

<h3>Header</h3>

<%= component 'card' do |card| %>
  <% card.with_header do %>
    Card Title
  <% end %>

  Card content
<% end %>

<h3>Footer</h3>

<%= component 'card' do |card| %>
  Card content

  <% card.with_footer do %>
    <button type="button">Do Something</button>
  <% end %>
<% end %>

<h3>Header and Footer</h3>

<%= component 'card' do |card| %>
  <% card.with_header do %>
    Card Title
  <% end %>

  Card content

  <% card.with_footer do %>
    <button type="button">Do Something</button>
  <% end %>
<% end %>

<h3>Custom Background Color</h3>

<%= component 'card', background_color: 'lime' do %>
  Card content
<% end %>

<h3>Clickable</h3>

<%= component 'card', href: '' do %>
  Card content
<% end %>
