<% title 'Styleguide' %>

<%= component 'band', background_color: 'violet', class: 'shadow-medium', size: 'lg' do %>
  <h1>Dumpling Styleguide</h1>
<% end %>

<div class="column container">
  <%= render 'styleguide_section', title: 'Alert' do %>
    <h3>Standard</h3>

    <%= component 'alert' do %>
      This is a test of the emergency alert system.
    <% end %>

    <h3>Not Dismissable</h3>

    <%= component 'alert', dismissable: false do %>
      This is a test of the emergency alert system.
    <% end %>

    <h3>Error</h3>

    <%= component 'alert', type: 'error' do %>
      This is a test of the emergency alert system.
    <% end %>

    <h3>Success</h3>

    <%= component 'alert', type: 'success' do %>
      This is a test of the emergency alert system.
    <% end %>

    <h3>Warning</h3>

    <%= component 'alert', type: 'warning' do %>
      This is a test of the emergency alert system.
    <% end %>
  <% end %>

  <%= render 'styleguide_section', title: 'Column' do %>
    <h3>Standard</h3>

    <div class="column">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>No Gap</h3>

    <div class="column column-no-gap">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Padded</h3>

    <div class="column column-padded">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Pad X</h3>

    <div class="column column-pad-x">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Pad Y</h3>

    <div class="column column-pad-y">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>
  <% end %>

  <%= render 'styleguide_section', title: 'Row' do %>
    <h3>Standard</h3>

    <div class="row">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>No Gap</h3>

    <div class="row row-no-gap">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Padded</h3>

    <div class="row row-padded">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Pad X</h3>

    <div class="row row-pad-x">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>

    <h3>Pad Y</h3>

    <div class="row row-pad-y">
      <span>Item 1</span>
      <span>Item 2</span>
    </div>
  <% end %>
</div>
