<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Replace Me' %> :: Dumpling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'dumpling', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag 'dumpling' %>
  </head>

  <body>
    <%= render 'notification/notification_context' do %>
      <%= component 'dumpling_utilities' %>

      <main <%= content_for?(:main_classes) ? "class=#{content_for(:main_classes)}" : nil %>>
        <%= yield %>
      </main>
      <% end %>
    </body>
  </html>
