<h3>Basic</h3>

<%= component 'dialog' do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!
<% end %>

<h3>With Title</h3>

<%= component 'dialog', title: 'Dialog Title' do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!
<% end %>

<h3>With Footer</h3>

<%= component 'dialog' do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!

  <% dialog.with_footer do %>
    <button data-action="dialog-component#close" type="button">Close</button>
  <% end %>
<% end %>

<h3>With Title and Footer</h3>

<%= component 'dialog', title: 'Dialog Title' do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!

  <% dialog.with_footer do %>
    <button data-action="dialog-component#close" type="button">Close</button>
  <% end %>
<% end %>

<h3>Don't Close When Scrim is Clicked</h3>

<%= component 'dialog', close_on_click_scrim: false do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!
<% end %>

<h3>Non-Modal</h3>

<%= component 'dialog', modal: false do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!
<% end %>

<h3>Non-Movable</h3>

<%= component 'dialog', movable: false do |dialog| %>
  <% dialog.with_open_button do %>
    Open
  <% end %>

  Dialog content!
<% end %>
