<div
  data-controller="dialog-component"
  data-dialog-component-dialog-id-value="<%= id %>"
  data-dialog-component-dumpling-dialog-container-outlet="[data-controller='dumpling-dialog-container']"
>
  <% content_for :dumpling_dialogs do %>
    <% if modal? %>
      <div
        <%= scrim_class_string %>
        <%= close_on_click_scrim? ? raw('data-action="click->dumpling-dialog-container#close"') : '' %>
        data-dialog-id="<%= id %>"
        data-dumpling-dialog-container-dialog-id-param="<%= id %>"
        data-dumpling-dialog-container-target="scrim"
      ></div>
    <% end %>

    <div
      <%= class_string %>
      data-component="dialog"
      <%= controller ? "data-controller=#{controller}" : nil %>
      data-dialog-id="<%= id %>"
      data-dumpling-dialog-container-target="dialog"
    >
      <div
        class="dialog_header"
        <%= movable? ? raw('data-action="mousedown->dumpling-dialog-container#beginMove mouseup@document->dumpling-dialog-container#endMove"') : '' %>
        data-dumpling-dialog-container-dialog-id-param="<%= id %>"
      >
        <span class="dialog_title"><%= title %></span>
        <button
          class="close"
          data-action="dumpling-dialog-container#close"
          data-dumpling-dialog-container-dialog-id-param="<%= id %>"
          title="<%= t('dialog.close', default: 'Close') %>"
          type="button"
        >
          <%= svg('icons/x-mark.svg') %>
        </button>
      </div>

      <div class="dialog_content">
        <%= content %>
      </div>

      <% if footer? %>
        <div class="align-right dialog_footer row">
          <%= footer %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if open_button? %>
    <button data-action="dialog-component#openDialog" type="button">
      <%= open_button %>
    </button>
  <% end %>
</div>
